html, body {
	background-color: #aaa;
}
#huba {
	width: 700px;
	margin: auto;
	border: 2px solid #666;
	background-color: #fff;
	padding: 1em;
}
#search {
	border: 1px solid #666;
	outline: none;
	padding: 0.5em;
}
#search:focus {
	border-color: #999;
}
#suggestions {
	list-style-type: none;
	position: absolute;
	background-color: #999;
	cursor: pointer;
	display: none;
	margin: 0;
	padding: 0;
	font: 0.8em Tahoma;
}
#suggestions > li {
	padding: 0.5em;

	/* keeps everything in one line */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#suggestions > li:hover {
	background-color: #aaa;
}
.selected {
	background-color: #fff !important;
}